@charset "utf-8";
html{
    font-size: 62.5%; /* 16px * 62.5% = 10px */
}

/*------------------
全体に適用
---------------------*/
body{
    color: #222222;
    font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    font-size: 1.6rem;
    width: 1200px;
    margin: auto;
}

img{
    max-width: 100%;
    height: auto;
}

.uppercase{
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}

section{
    padding: 60px 0 0;
}

h1{
    font-size: 3.6rem;
}

h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 0 30px;
}

#about>h2,
#news>h2{
    color: #ffd61a;
}



h3{
    font-size: 1.8rem;
    text-align: center;;
    margin: 0 0 60px;
}

p{
    font-size: 1.6rem;
    text-align: center;
    margin: 0 0 40px;
    line-height: 1.8;
}




/*------------------
header
---------------------*/
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 121px;
    padding: 0 20px;
}

.nav-list{
    display: flex;
}

.nav-item{
    margin: 0 50px 0 0;
}

.nav-item>a{
    color: #222222;
    font-size: 2.1rem;
}



/*------------------
main-visual
---------------------*/
.main-visual{
    position: relative;
}

.main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    color: #fff;
    font-size: 3.6rem;
    width: 100%;
}

.main-text>p{
    font-size: 4.8rem;
    font-weight: bold;
    margin: 0 0 30px;
}


/*------------------
about
---------------------*/

.about-text{
    margin: 0 0 80px;
}

.about-img{
    display: flex;
    max-width: 100%;
}

.about-img>img{
    width: 25%;
}



/*------------------
course 
---------------------*/

.course-benefits{
    background-color: #fafafa;
}

.benefit{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.benefit-img,
.benefit-text{
    width: 50%;
    box-sizing: border-box;
}

ul li.benefit>div {
    width: 430px;
}

ul li.benefit h3 {
    font-size: 2.4rem;
    margin: 0 0 40px;
    font-weight: bold;
    text-align: left;
}

ul li.benefit p {
    text-align: left;
    margin: 0;
}

/* 偶数行の配置入れ替え */
ul li.benefit:nth-child(even){
    flex-direction: row-reverse;
}

ul li.benefit:nth-child(odd)>div{
    margin: 0 0 0 50px;
}

ul li.benefit:nth-child(even)>div{
    margin: 0 50px 0 0;
}

/*------------------
news
---------------------*/

section#news{
    padding: 60px 0;
}

.news-wrapper{
    margin: auto;
}

.news-list{
    display: flex;
    justify-content: center;
}

.news-item{
    width: 300px;
    margin: 0 15px;
}

.news-item:hover{
    background-color: #fafafa;
}

.news-img{
    margin: 0;
}

.news-item p{
    text-align: left;
}

.news-contents{
    padding: 30px 0 0 ;
}

.news-date{
    margin: 0 0 24px;
}

.news-text{
    margin: 0;
}

.btn{
    display: block;
    width: 300px;
    margin: 60px auto 0;
    padding: 21px 0;
    background-color: #ffd61a;
    color: #fff;
    font-size: 1.8rem;
}

.btn:hover{
    background-color: #fff61a;
}


/*------------------
access
---------------------*/

section#access{
    padding: 60px 0 30px;
}

#access{
    background-color: #fafafa;
}

#access h2{
    text-transform: none;
}

.access-inner{
    width: 530px;
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto 0;
}

.access-inner>dt{
    width: 150px;
    margin: 0 0 30px;
}

.access-inner>dd{
    width: 380px;
}

/*------------------
contact
---------------------*/

section>p{
    margin: 0 0 30px;
}

.form-wrapper{
    width: 640px;
    margin: 30px auto;
}

.form-inner{
    display: flex;
    flex-wrap: wrap;
    border-top: solid 2px #c9c9c9;
    font-size: 1.4rem;
}

.form-wrapper dt{
    width: 240px;
    padding: 16px 64px 16px 16px;
    border-right: solid 1px #c9c9c9;
    box-sizing: border-box;
    border-bottom: solid 1px #c9c9c9
}

.form-inner .selectbox-title{
    padding-top: 8px;
}

.form-wrapper dd{
    width: 400px;
    border-bottom: solid 1px #c9c9c9;
    padding: 8px 0 8px 8px;
    box-sizing: border-box;
}

.form-parts{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    width: 328px;
    height: 36px;
    padding: 8px;
    border: solid 1px #c9c9c9;
    font-size: 1.6rem;
}

.check-btn>div{
    padding-bottom: 24px;
}

input[type*="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    background-color: #fafafa;
    border: solid 1px #c9c9c9;
    border-radius: 30%;
    margin-right: 20px;
    vertical-align: -6px;
}

input[type*="checkbox"]:checked{
    background-color: #c9c9c9;

}

textarea#detail{
    height: 120px;
}

.contact-btn{
    margin: 30px auto 140px;
}

/* select-boxまわり */






/*------------------
footer
---------------------*/
.footer{
    padding: 30px 0;
    background-color: #707070;
    color: #fff;
    margin: auto;
}
